*  {
     margin: 0;
     padding: 0;
     -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
     box-sizing: border-box;


}

body{
	background: #8d7f93;
	font-family:sans-serif;
	line-height: 25px;
}   

a{
	text-decoration: none;
	color: #462255;
}

.btn-menu {
	display: block;
	padding: 20px;
	background: #b4bbc1;
	color: #462255;
    
}

.btn-menu .icono{
	float: right;
}

.contenedor-menu {
	width: 20%;
	min-width: 300px;
	margin: 50px;
	display: inline-block;
	font-family:'sans-serif';
	line-height: 25px;

}

.contenedor-menu .menu {
	width: 100%;	
}

.contenedor-menu ul {
	list-style: none;
}

 .contenedor-menu .menu li a{
 	color: #CFC3D4 ;
 	display: block;
 	padding: 20px 30px;
 	background: #e9e9e9;

 } 
 
/*contenedor de iconos y menu*/
.contenedor-menu .menu li a:hover{
	background: #8d7f93;
	color: #462255;
	font-size: 25px;
}

.contenedo-menu .menu .icono {
	font-size: 20px;
	line-height: 25px;
	font-size: 25px;


}

.contenedor-menu .menu .icono.izquierdo {
	float:left;
	margin-right: 15px;
	
}

.contenedor-menu .menu .icono.derecho {
	float: right;
	margin-left: 15px;

}
.contenedor-menu .menu ul{
     display: none;
}

.contenedor-menu .menu ul li a{
	background: #4b1b56;
	color: #e9e9e9;

}
.contenedor-menu .menu .activado > a {
     background: #1a95d5;
     color:#CFC3D4;
 
}

@media screen and (max-width-max: 450px){
	body{
		padding-top: 80px: 
	}
	.contenedor-menu{
		margin: 0;
		width: 100%;
		position: fixed;
		top: 0;
		z-index:1000;
	}

	.btn-menu{
		display: none;
	}
	.contenedor-menu .menu {
		display:none;
	}
	
}

